<div class="row">
    <div class="col-12">
        <div class="btn btn-primary">New Recipe</div>
    </div>
</div>
<hr>
<div class="row" *ngFor=" let recipe of recipes">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">{{ recipe.name }}</a>
        </div>
    </div>  
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="row">
                    <div class="col-8 mr-auto">
                        <div class="tab-pane fade show " id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                {{ recipe.description }}
                        </div>
                    </div>
                    <div class="col-4 ml-auto">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                            <img [src]="recipe.imagePath" alt="Sample Recipe IMage" class="img img-fluid">
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- <app-recipe-item></app-recipe-item> -->
