<div class="row">
  <div class="col-12">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-3">
            <input type="text" class="form-control" placeholder="name">
          </div>
          <div class="col-1">
            <input type="number" class="form-control" placeholder="amt">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-12">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="submit" class="btn btn-success">Add</button>
              <button type="button" class="btn btn-danger">Delete</button>
              <button type="button" class="btn btn-primary">Clear</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
